.root {
    -fx-font-size: 15px;
}

.button {
    -fx-padding: 10px 15px 10px 15px;
}

.headline1 {
    -fx-font-size: 35px;
}

.headline2 {
    -fx-font-size: 25px;
}

.combo-box:disabled,
.text-area:disabled,
.text-field:disabled {
    -fx-opacity: 1;
}

.text-area {
    -fx-wrap-text: true;
}

.box {
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.bordered-box {
    -fx-border-color: black;
    -fx-border-width: 1px;
}